# Configuration file

~CONFIG_VERSION: 0.1.0

world-1429650382 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1431591077 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@myst
    B:overlayEnabled=true
}


world-1752622363 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1909883461 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-754345806 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=barr
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=@nuclearcraft

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


world113318802 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world114213595 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=free
    B:overlayEnabled=true
}


world1173875802 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=book
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=flu
}


world1690200562 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@aether
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=infin
    B:overlayEnabled=true
}


world2057109089 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=flu

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


world2081894290 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world347562048 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=ring
    B:overlayEnabled=true
}


world785103634 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=shea
    B:overlayEnabled=true
}


world856609915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world923154898 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=void
    B:overlayEnabled=true
}


